<Header></Header>

<div class="container p-5" style="min-height:calc(100vh - 80px);">
  <!-- Descripción del catálogo de películas -->
  <div class="row">
    <div class="col-12">
      <h1 class="title text-center">Explora un Mundo de Emoción y Entretenimiento</h1>

      <br />

      <p>
        Nuestro catálogo de películas es un tesoro de emociones, historias y
        entretenimiento para cinéfilos de todas las edades. Con una amplia
        variedad de géneros, desde emocionantes películas de acción hasta
        conmovedoras historias de amor, documentales inspiradores y clásicos
        atemporales, nuestro catálogo tiene algo para todos.
      </p>

      <p>
        Si eres un amante de la acción, sumérgete en nuestras películas de
        héroes audaces y emocionantes persecuciones. Descubre el suspenso de los
        thrillers más intensos y vive aventuras emocionantes con nuestras
        selecciones de ciencia ficción y fantasía.
      </p>

      <p>
        Para aquellos que buscan una dosis de romance y corazón, nuestras
        películas te harán reír, llorar y enamorarte una y otra vez. Las
        historias de amor son eternas, y en nuestro catálogo, encontrarás
        algunas de las más icónicas.
      </p>

      <p>
        Pero el cine es mucho más que solo diversión. Nuestra colección de
        documentales te llevará a viajes por el mundo, te informará sobre
        eventos históricos y te inspirará con historias de superación. Aprende y
        maravíllate con el poder del cine documental.
      </p>

      <p>
        No podemos olvidar los clásicos que han resistido la prueba del tiempo.
        Redescubre películas que han dejado una huella indeleble en la historia
        del cine. Los clásicos son una parte importante de nuestra herencia
        cinematográfica.
      </p>

      <p>
        Así que, si estás buscando una noche de cine perfecta, un viaje
        emocional o simplemente una dosis de entretenimiento, nuestro catálogo
        de películas tiene todo lo que necesitas. Ven y explora el mundo del
        cine con nosotros y deja que las historias cobren vida en la pantalla
        grande de tu hogar.
      </p>
    </div>
  </div>
</div>

<Footer></Footer>
