<Header></Header>

<div class="container p-5" style="min-height:calc(100vh - 80px);">
  <section class="modal_propio" *ngIf="showForm">
    <div class="modal_container">
      <form [formGroup]="formulario">
        <label>Título</label>
        <input class="form-control" type="text" formControlName="title"/>

        <label>Sinopsis</label>
        <input class="form-control" type="text" formControlName="synopsis"/>

        <label>Año</label>
        <input class="form-control" type="text" formControlName="year"/>

        <label>Portada</label>
        <input class="form-control" type="text" formControlName="cover">

        <div class="modal_footer">
          <button type="button" class="btn btn-danger mr-2" (click)="showForm = false">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="crearPelicula()">Guardar</button>
        </div>
      </form>
    </div>
  </section>

  <h1 class="text-dark text-center">Películas</h1>

  <div class="text-center">
    <button type="button" class="btn btn-success mt-4 mb-4" (click)="showForm = true">Añadir película</button>
  </div>

  <table class="table table-dark table-striped table-bordered table-hover text-center">
    <thead>
      <tr>
        <th class="text-white">Título</th>
        <th class="text-white">Sinopsis</th>
        <th class="text-white">Año</th>
        <th class="text-white">Portada</th>
        <th class="text-white">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let movie of movies">
        <td class="text-white">
          <a href="/ver-pelicula/{{ movie.id }}">{{ movie.title }}</a>
        </td>
        <td class="text-white">{{ movie.synopsis }}</td>
        <td class="text-white">{{ movie.year }}</td>
        <td>
          <img src="{{ movie.cover }}" width="100px" />
        </td>
        <td style="width:200px;vertical-align:middle;">
          <a href="/ver-pelicula/{{ movie.id }}" class="btn btn-primary mr-2">Ver</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<Footer></Footer>
